NEXT_PUBLIC_SUPABASE_URL=https://ngvheeixwsajkleoibck.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ndmhlZWl4d3NhamtsZW9pYmNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyNTM2NTUsImV4cCI6MjA4NzgyOTY1NX0.ayPSYl5Taxjsos0R48px2HAj25FcgSrg-uK-BemtxJo